@charset "utf-8";
/* Material iconsを利用する */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* 推奨サイズ */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
   
    /* WebKitブラウザサポート */
    -webkit-font-smoothing: antialiased;
    /* Chrome、Safariサポート */
    text-rendering: optimizeLegibility;
   
    /* Firefoxサポート */
    -moz-osx-font-smoothing: grayscale;
   
    /* IEサポート */
    font-feature-settings: 'liga';
  }

  .material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Material icons おわり */

nav {
    background-color:#464c56; 
}

/* メインビジュアル */
.mv_cover { 
    height: 600px;
    background-image: url(../img/boardgameqr_mv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.mv_cover_filter {
    border-bottom: 4px solid #f4c51c;
    background-color: rgba(0,0,0,0.4);
    height: 600px;
}
.mv_inner {
    max-width: 1140px;
    position: absolute;
    top: 30%;
    left: 10%;
}
.logo {
    font-size: 46px;
}
.logo span {
    font-size: 15px;
    display: block;
    font-weight: bold;
}
.inner_body h3 {
    font-weight: bold;
}
.inner_left {
    border-bottom: 2px solid #fff;
}

/* フッター */
footer {
    background-color: #464c56;
}
